#menu-container {
    display: flex;
    justify-content: space-around;
}

#left-menu {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
}

#right-menu {
    display: flex;
    align-items: center;
}

#content-banner {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    justify-content: space-evenly;
}
#toolbar{
    display: flex;
    justify-content: left;
    align-content: center;
}
#img-product{
    display: grid;
    grid-template-columns: auto auto;

}
#img-product1{
    display: grid; 
}
#detail-product p {
    display: inline-block;
    
}

#related-products {
    width: 1440px;
}

#sub-related-products p {
    display: inline-block;
    margin: 0;
}

#sub-related-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

#sub-related-products-gioHang {
    display: flex;
}