body{
    padding-left: 140px;
    padding-right: 140px;
}
#menu-container {
    display: flex;
    justify-content: space-between;
}

#left-menu {
    display: flex;
    justify-content: space-around;
    width: 22%;
    align-items: center;
}

#right-menu {
    display: flex;
    align-items: center;
}

#content-banner {
    display: grid;
    grid-template-columns: 584px 684px;
    margin-top: 50px;
}
#toolbar{
    display: flex;
    justify-content: left;
    align-content: center;
    margin-bottom: 20px;
}
#toolbar p{
    margin-right: 15px; 
    margin-top: 0;
    margin-left: 0; 
    margin-bottom: 0;
}
#toolbar img{
    margin-right: 15px; 
    margin-top: 0;
    margin-left: 0; 
    margin-bottom: 0;
}
#img-product{
    display: grid;
    grid-template-columns: 100px auto;

}
#img-product1{
    display: grid; 
    width: 100px;
}
.price{
    display: flex;
    align-items: center;
}
.rv-product{
    display: flex;
    align-items: center;
}
.rv-sale img
{
    margin-right: 5px;
}
.rv-sale1
{
    display: flex;
    align-items: center;
}
.rv-sale2
{
    display: flex;
    align-items: center;
}
.button-acc
{
    display: flex;
    margin-top: 20px;
}
.button-acc button{
    color: green;
    width: 270px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    font-size: 17px;
    border: 1px solid green;
    margin-right: 20px;
}
.button-acc button:hover{
    background-color: #33CC66;
}
.button-quantity{
    display: flex;
    align-items: center;
    
}
.button-qty
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 44px;
    background-color: #DCDCDC;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
}
#sub-related-products
{
    display: grid;
    grid-template-columns: repeat(4,276px);
    column-gap: 30px;
}

.menu-info{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}
.info-button button{
    color: green;
    width: 220px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    font-size: 17px;
}
.info-button button:hover{
    background-color: #33CC66;
}

#info-click-Benefits{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
}
.info-text {
    display: grid;
    align-items: center;
}
.content-Ingredients{
    display: flex;
    column-gap: 50px;
}
.content-Ingredients img{
    border-radius:10px 10px 0 0;
}
.button-see button{
    color: green;
    width: 220px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    border: none;
    background-color: #fff;
    font-size: 17px;
    border: 1px solid green;
}
.button-see{
    display: flex;
    justify-content: center;
}
.button-see button:hover{
    background-color: #33CC66;
}
.sub-related-products1
{
    display: grid;
}
.add-cart 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.content-How-to-use{
    margin-top: 100px;
}
.content-rv{
    display: flex;
    justify-content: space-between;
}
.rank-rv{
    display: flex;
    flex-direction: column;
}
.rank-rv p{
    margin: 0;
}
.result-rv{
    display: flex;
    align-items: center;
}
.result-rv img{
    margin-left: 5px;
    margin-right: 5px;
}
.result-rv h1{
    margin: 0;
}
.star img{
    margin-left: 5px;
    margin-right: 5px;
}
.star5{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.star4{
    display: flex;
    align-items: center;
    
}
.star3{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.star2{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.star1{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.content-comment
{
    display: grid;
    grid-template-rows: 3;
}
.comment1{
    display: flex;
    align-items: center;
}
.comment2{
    display: flex;
    align-items: center;
}
.comment3{
    display: flex;
    align-items: center;
}
.next-pg
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-pg button{
    border-radius: 50%;
    padding:6px 8px;
    border: 1px solid green;
    color: green;
    background: none;
}
.faqs-content{
    display: grid;
    grid-template-columns: auto auto;
}
.faqs1-left
{
    width: 560px;
    height: 125px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.button1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faqs2-left{
    width: 560px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.button2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.faqs3-left{

    width: 560px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 10px;
}
.button3
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.faqs1-right
{
    display: flex;
    width: 560px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.faqs2-right
{
    width: 560px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.button5-right
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqs3-right
{
    width: 560px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.button6-right
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faqs4-right
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 560px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.footer{
    width: 1440px;
    height: 435px;
    margin-left: -140px;
    margin-right: -140px;
    margin-top: 20px;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.ft-contact{
    display: flex;
    justify-content: space-between;
}
.language{
    display: flex;
    width: 130px;
    height: 35px;
    border: 1px solid grey;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    color: grey;
}
.ft-contact p
{
    color: grey;
}
.ft-address p{
    color: grey;
}
.input-email
{
    display: grid;
    grid-template-columns: 300px 130px;
    justify-content: space-around;
    border-radius: 10px;
}
.img-link
{
    margin-top: 20px;
}
.img-link img
{
    margin-right: 5px;
}
.email{
    display: flex;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid grey;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.sub
{
    display: flex;
    height: 50px;
    border: 1px solid grey;
    background-color: green;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.copy-right{
    text-align: center;
}